@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background: var(--foreground1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    --lightPurple: rgb(174, 0, 255);
    --purple: rgb(123, 0, 224);
    --darkPurple: rgb(83, 0, 151);
    --lightRed: rgb(255, 0, 0);
    --red: rgb(214, 0, 0);
    --darkRed: rgb(151, 0, 0);
    --lightBlue: rgb(0, 151, 238);
    --blue: rgb(5, 80, 219);
    --darkBlue: rgb(0, 64, 241);
    --lightGreen: rgb(0, 255, 0);
    --green: rgb(0, 212, 0);
    --darkGreen: rgb(0, 184, 0);
}

.lightMode {
    color: black;
    --foreground1: white;
    --foreground2: whitesmoke;
    --foreground3: white;
}

.darkMode {
    color: white;
    --foreground1: rgb(29, 29, 29);
    --foreground2: rgb(45, 45, 45);
    --foreground3: rgb(55, 55, 55);
}

@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: initial;
    font-family: "poppins", "sans-serif";
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v90/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons Outlined', 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Template */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: 8px 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0 10px 20px 0;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    text-decoration: none;
    outline: 2px solid transparent;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 4px 12px 0, inset rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.button:focus {
    border-radius: 3px;
    filter: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0 10px 35px 0;
}

.greenButton {
    background-color: var(--green);
}

.greenButton:focus {
    outline: 2px solid var(--lightGreen);
}

.purpleButton {
    background-color: var(--purple);
}

.purpleButton:focus {
    outline: 2px solid var(--lightPurple);
}

.blueButton {
    background-color: var(--blue);
}

.blueButton:focus {
    outline: 2px solid var(--lightBlue);
}

.redButton {
    background-color: var(--red);
}

.redButton:focus {
    outline: 2px solid var(--lightRed);
}

.hidden {
    display: none !important;
}


/* UI */

.uiParent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiChild {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0 20px 60px 0;
    border-radius: 6px;
    overflow: hidden;
    background: var(--foreground3);
}

.uiHeader {
    background: var(--foreground2);
    padding: 20px 50px;
    text-align: center;
    font-weight: 550;
    font-size: 28px;
}

.uiContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 10px;
}


/* Custom UI */

.gameHeader {
    font-size: 38px;
}


/* Game */

.canvas {
    background: var(--foreground2);
}